<h1>Events Created by <%= @user.email %></h1>
<div>
  <% @user.created_events.each do |event| %>
    <div>
      <strong>Title:</strong> <%= event.title %>
      <br>
      <strong>Event-Date</strong> <%= event.event_date %>
      <br>
      <strong>Creator's Email:</strong> <%= event.creator.email %>
    </div>
  <% end %>
</div>
